<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {% if site.author.avatar -%}
        <div class="sidebar-section">
      {%- if site.author.avatar contains "://" -%}
      {%- assign avatar = site.author.avatar -%}
      {%- else -%}
        {%- assign avatar = site.author.avatar | relative_url -%}
      {%- endif -%}
        <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author.name }}">
        </div>
      {%- endif %}
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <div>
      {% if site.data.social -%}
      <div class="sidebar-nav">
        {% for social in site.data.social -%}
        <a href="{{ social.url }}" title="{{ social.title }}" target="_blank"> 
          <img src="{{ site.url }}{{ social.icon }}" class="social-logo">
        </a>
        {%- endfor %}
      </div>
      {%- endif %}
    </div>
    
    <div class="float-left">
      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
  </div>
</div>
